.displayQTT {
  height: 1em !important;
  display: none;
}

.inputQTT {
  height: 1.5em !important;
}

.blocIng {
  height: 600px !important;
  overflow: scroll;
}

.blocIng::-webkit-scrollbar {
  display: none;
}

.fontCocktail {
  font-size: 1em;
}


.formMaker {
  padding-left: 0 !important;
  font-size: 15px !important;
}

.padd {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

textarea{
  background-color: #b083dd1a !important;
  color: #bebee9 !important;
}
/* ========================== *\
   Utilities
\* ========================== */
.u-vertical-rhythm > * + * {
  margin-top: 1.5rem;
}

/* ========================== *\
   Global Elements
\* ========================== */
/* *, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
}

.page__content {
  width: 100%;
  padding: 4rem 2rem;
} */

/* ========================== *\
   Labels
\* ========================== */
.cocktail__label {
  font-family: "Raleway", sans-serif;
  font-size: 15vmin;
  left: 0;
  opacity: 0.075;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

/* ========================== *\
   Controls
\* ========================== */
.controls {
  margin-bottom: 8rem;
  text-align: center;
}

.controls__label {
  font-size: 2.25rem;
  font-weight: 700;
}

.form-group {
  /* display: flex; */
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
[type=radio] + label {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: color 100ms ease-out;
}
[type=radio] + label:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 0.25rem;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: background-color 100ms ease-out, transform 100ms ease-out;
}
[type=radio]:checked + label {
  color: #8a8aff !important;
}
[type=radio]:checked + label:after {
  background-color: #8a8aff !important;
  transform: scaleX(1);
}

/* ========================== *\
   Buttons
\* ========================== */
.btn {
  background-color: transparent;
  border: none;
  border-radius: 0.125rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.75rem 1rem;
}
.btn:active {
  transform: translateY(1px);
}

.btn--primary {
  color: white;
  background-color: dodgerblue;
}

/* ========================== *\
   Glass
\* ========================== */
.glass {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 25vmin;
  z-index: 1;
}

.bowl {
  --border: 1vmin;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.75);
  border: var(--border) solid #e9e9e9;
  border-top: 0;
  border-radius: 1vmin 1vmin 50vmin 50vmin;
  display: flex;
  height: 25vmin;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.bowl:before {
  background-image: linear-gradient(to bottom, white, transparent 80%, transparent);
  content: "";
  height: 100%;
  left: calc(var(--border) * -1);
  opacity: 0.4;
  position: absolute;
  top: var(--border);
  width: calc(50% + var(--border));
  z-index: 2;
}
.bowl:after {
  background: linear-gradient(to right, #C89E48, #FCF6BA 20%, #B68D34 60%, #E4DE9F 90%, #B58633);
  border-radius: 0.25vmin 0.25vmin 0 0;
  content: "";
  height: 1vmin;
  position: absolute;
  top: 0;
  width: calc(100% + var(--border) * 2);
  z-index: -1;
}

.stem {
  background-color: #e9e9e9;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent 15%, transparent 75%, rgba(0, 0, 0, 0.05));
  height: 20vmin;
  position: relative;
  margin-top: -1vmin;
  width: 4vmin;
  z-index: -1;
}
.stem:before {
  background-image: linear-gradient(to bottom, white, transparent 80%, transparent);
  content: "";
  height: 100%;
  left: calc(var(--border) * -1);
  opacity: 0.4;
  position: absolute;
  top: var(--border);
  width: 35%;
  z-index: 2;
}

.base {
  background-color: #e9e9e9;
  border-radius: 0.5vmin;
  height: 1.5vmin;
  position: relative;
  width: 20vmin;
  z-index: 1;
}
.base:before {
  background-image: linear-gradient(to bottom, white, transparent 80%, transparent);
  content: "";
  height: 100%;
  left: calc(var(--border) * -1);
  opacity: 0.4;
  position: absolute;
  top: var(--border);
  width: calc(50% + var(--border));
  z-index: 2;
}

/* ========================== *\
   Ingredients
\* ========================== */
.ingredient-colors,
.ingredient-list {
  --outline: 2vmin;
  border-radius: inherit;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - var(--outline) * 2);
  margin-top: calc(var(--outline) * 2);
  position: relative;
  width: 100%;
  z-index: 1;
}

.ingredient-colors {
  opacity: 0.75;
  overflow: hidden;
}
.ingredient-colors:before {
  --height: 8vmin;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  border-radius: 100%;
  bottom: calc(var(--height) / -2);
  content: "";
  height: var(--height);
  position: absolute;
  width: 100%;
  z-index: 2;
}
.ingredient-colors .ingredient {
  flex-basis: 100%;
  position: relative;
  transform: scaleY(0);
  transform-origin: 50% 100%;
}
.ingredient-colors .ingredient.animate {
  -webkit-animation: fill 400ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: fill 400ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.ingredient-list {
  /* left: calc(100% + 2rem); */
  text-align: center;
  list-style-type: none ;
  color: black;
  position: absolute;
  top: 0;
}
.ingredient-list .ingredient {
  flex-basis: 100%;
  font-size: 0.75rem;
  line-height: 1.15;
  opacity: 0;
  position: relative;
  transform-origin: 50% 100%;
  transform: translateX(-1rem);
}
.ingredient-list .ingredient:before {
  /* background-color: black; */
  border-radius: 50vmin;
  content: "";
  height: 2px;
  right: calc(100% + 0.5rem);
  position: absolute;
  top: 0.375rem;
  width: 2rem;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 300ms 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ingredient-list .ingredient.animate {
  -webkit-animation: ingredient-text 400ms 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: ingredient-text 400ms 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.ingredient-list .ingredient.animate:before {
  transform: scaleX(1.0001);
}

/* ========================== *\
   Garnish
\* ========================== */
.garnish {
  --size: 12vmin;
  background-color: #acef86 ;
  border: 1vmin solid #9fdb72;
  border-radius: 100%;
  box-shadow: inset white 0 0 0 0.5vmin;
  height: var(--size);
  right: calc(100% - var(--size) / 2);
  position: absolute;
  bottom: calc(100% - var(--size) / 2);
  width: var(--size);
  z-index: -1;
}

/* ========================== *\
   Animation Keyframes
\* ========================== */
@-webkit-keyframes fill {
  to {
    transform: scaleY(1.0001);
  }
}
@keyframes fill {
  to {
    transform: scaleY(1.0001);
  }
}
@-webkit-keyframes ingredient-text {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes ingredient-text {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}